
  .booking-container{
    color: rgba(255, 255, 255, 0.699);
    margin-top: 200px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
}
  .booking-container h1{
    
    font-size: 60px;
    line-height: 117px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
}
/* new css */

.booking-form {
  margin-left: auto;
  width: 470px;
  background:#ffffff;
  border: 1px solid #ABABAB;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 25px 22px;

}
.booking-form input {
  display: block;
  padding: 12px;
  border: none;
  width: 417px;
  background: #F2F2F2;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}
.booking-form label{
  color: #818181;
  display: block;
  font-size: 16px;
}

.booking-form input:focus{
  border: none;
  border: 1px solid gray;
}
.error{
  color: red;
}
.booking-form :focus {
  outline: -webkit-focus-ring-color auto 0px;
}


.booking-form ::placeholder { 
  color: rgb(65, 60, 60) !important;
}
.booking-form input[type=submit]{
  background: #F9A51A;
  
}
.width-75{
  width: 10px;
}